@page "/artistdetails/{ArtistName}"
@using DBConnection1.Data
@using DBConnection1.Models
@inherits ArtistDetailsBase

<div class="alist-form">
    <img src="./Images/@(ArtistImageUrl).jpg" alt="Alternate Text" />
    <p>@ArtistName was founded in @Founded.</p>
    <br />
    <h6>Members:</h6>
 
    @foreach (var item in persons)
    {
        <img src="./Images/@(PersonImageUrl=item.ImageUrl).jpg" alt="Alternate Text" />
        if (item.To == 0)
        {
            <p>@(FirstName = item.FirstName) @(LastName = item.LastName) since @(From = item.From).</p>
        }
        else
        {
            <p>@(FirstName = item.FirstName) @(LastName = item.LastName) from @(From = item.From) to @(To = item.To).</p>
        }
        
    }
    
</div>

