@page "/artistdetails/{ArtistId}"
@using BlazorServerSide.Controls
@inherits ArtistDetailsBase


<div class="alist-form">
    <div class="form-horizontal">
        <button @onclick="NavBackHandler" class="backbutton"><span class="oi oi-arrow-left" aria-hidden="true"></span></button>
    </div>
    <img class="artist-img" src="./Images/@(string.IsNullOrEmpty(ArtistImageUrl) ? "ArtistUnknown.jpg" : ArtistImageUrl)" />
    @if (Founded == 0)
    {
        <p><strong>@ArtistName</strong></p>
    }
    else
    {
        <p><strong style="font-size:large">@ArtistName was founded in @(Founded).</strong></p>
    }

    @if (string.IsNullOrEmpty(ArtistImageUrl) && Founded != 0)
    {

        <ArtistDataInput ArtistName="@ArtistName"></ArtistDataInput>

    }

    <br />
    <h6>Members:</h6>

    @if (persons.Count == 0)
    {
        <PersonDataInput ArtistName="@ArtistName"></PersonDataInput>
        <img src="./Images/Unknown.jpg" />



        if (PersonInput)
        {
            PersonInput = false;
        }
    }
    else
    {
        foreach (var item in persons)
        {
            <img class="person-img" src="./Images/@(PersonImageUrl=item.ImageUrl)" />
            if (item.To == 0)
            {
                <p>@(FirstName = item.FirstName) @(LastName = item.LastName) since @(From = item.From).</p>
            }
            else
            {
                <p>@(FirstName = item.FirstName) @(LastName = item.LastName) from @(From = item.From) to @(To = item.To).</p>
            }
        }
        <PersonDataInput ArtistName="@ArtistName"></PersonDataInput>
    }
</div>