@page "/likedsongs"
@using Telerik.Blazor.Components
@using BlazorServerSide.Controls
@inherits LikedSongsBase

<h3 class="welcome-text">Here are your favorite songs @GlobalVariables.ActiveUser</h3>

<TelerikGrid Resizable="true"
             Data="@usersongs"
             Reorderable="true"
             Sortable="true"
             SortMode="@SortMode.Multiple"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
    <GridColumns>
        <GridColumn Field="" Title="Song Name">
            <Template>
                @{
                    foreach (var song in usersongs)
                    {
                        <a href="/songdetails/@song.Song.Album.Name/@song.Song.Name">@song.Song.Name</a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Album Name">
            <Template>
                @{
                    foreach (var album in usersongs)
                    {
                        <span>@album.Song.Album.Name</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Artist Name">
            <Template>
                @{
                    foreach (var artist in usersongs)
                    {
                        <a href="/artistdetails/@artist.Song.Artist.Name">@artist.Song.Artist.Name</a>
                    }
                }
            </Template>
        </GridColumn>
        <GridCheckboxColumn Title="add to favorites">
        </GridCheckboxColumn>
    </GridColumns>
</TelerikGrid>