@page "/likedsongs"
@using Telerik.Blazor.Components
@using BlazorServerSide.Controls
@using ViewModels.Contracts
@inherits LikedSongsBase

<h3 class="welcome-text">Here are your favorite songs @GlobalVariables.ActiveUser</h3>

<TelerikGrid Resizable="true"
             Class="no-scroll"
             Data="@usersongs"
             Reorderable="true"
             Sortable="true"
             SortMode="@SortMode.Multiple"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
    <GridColumns>
        <GridColumn Field="" Title="Song Name">
            <Template>
                @{
                    var song = context as ILikedSongViewModel;
                    <TelerikCheckBox ValueChanged="@((bool value) => ChangeHandler(value, song.Song.Name))"></TelerikCheckBox>
                    <a href="/songdetails/@song.Song.Album.Name/@song.Song.SongId">@song.Song.Name</a>

                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Album Name">
            <Template>
                @{
                    var album = context as ILikedSongViewModel;
                    <span>@album.Song.Album.Name</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Artist Name">
            <Template>
                @{
                    var artist = context as ILikedSongViewModel;
                        <a href="/artistdetails/@artist.Song.Artist.ArtistId">@artist.Song.Artist.Name</a>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>