@page "/signup"
@using BlazorServerSide.Controls
@inherits SignUpBase

<div class="sign-form">
    <p class="welcome-text">Create a new account</p>


    <EditForm Model="@User">

        <DataAnnotationsValidator />

        <ValidationInput placeholder="Username" ValueChangedCallback="UserNameValueChanged" Value="@User.UserName"></ValidationInput>
        <ValidationMessage For="@(()=> User.UserName)"></ValidationMessage>
        <ValidationInput placeholder="Password" ValueChangedCallback="PasswordValueChanged" type="password" Value="@User.Password"></ValidationInput>
        <ValidationMessage For="@(()=> User.Password)"></ValidationMessage>
        <ValidationInput placeholder="Confirm Password" ValueChangedCallback="ConfirmValueChanged" type="password" Value="@Confirm"></ValidationInput>
        <ValidationInput placeholder="SecurityAnswer" ValueChangedCallback="SecurityAnswerValueChanged" Value="@User.SecurityAnswer"></ValidationInput>
        <ValidationMessage For="@(()=> User.SecurityAnswer)"></ValidationMessage>

        <p class="welcome-text">What is your favorite color?</p>

        <button class="sign-button" type="submit" @onclick="CreateNewUser">Confirm</button>

    </EditForm>

        <p style="color:whitesmoke">@Test</p>


</div>
