@page "/signin"
@inherits SignInBase
@inject NavigationManager NavigationManager
@using BlazorServerSide.Controls

<div class="sign-form">
    <p class="welcome-text">Hello @(string.IsNullOrEmpty(Username) ? "User" : Username) - Today is @Day</p>

    <ValidationInput placeholder="Username" ValueChangedCallback="UserNameValueChanged" Value="@Username"></ValidationInput>
    <ValidationInput placeholder="Password" ValueChangedCallback="PasswordValueChanged" type="password" Value="@Password"></ValidationInput>

    <button class="sign-button" type="submit" @onclick="Test">Sign in</button>
    <p style="color:white">@Hallo</p>

    <div class="sign-form">
        <a href="/signup">Sign up</a>
    </div>
</div>

