@page "/"
@page "/signin"
@inherits SignInBase
@inject NavigationManager NavigationManager
@using BlazorServerSide.Controls

<div class="sign-form">
    <p class="welcome-text">Hello @(string.IsNullOrEmpty(User.UserName) ? "User" : User.UserName) - Today is @Day</p>

    <EditForm Model="@User">

        <DataAnnotationsValidator />

        <ValidationInput placeholder="Username" ValueChangedCallback="UserNameValueChanged" Value="@User.UserName"></ValidationInput>
        <ValidationMessage For="@(()=> User.UserName)"></ValidationMessage>
        <ValidationInput placeholder="Password" ValueChangedCallback="PasswordValueChanged" type="password" Value="@User.Password"></ValidationInput>
        <ValidationMessage For="@(()=> User.Password)"></ValidationMessage>



        <button class="sign-button" type="submit" @onclick="Test">Sign in</button>
        <p class="error-message">@Error</p>


    </EditForm>



    <div class="sign-form">
        <a href="/signup">Sign up</a>
    </div>
</div>

