@page "/songlist"
@using DBConnection1.Data
@using Telerik.Blazor.Components
@using DBConnection1.Models
@inherits SonglistBase

<TelerikGrid Resizable="true"
             Data="@songlist"
             Reorderable="true"
             Sortable="true">
 
    <GridColumns>
        <GridColumn Field="@nameof(Song.Name)" Title="Song Name">
            <Template>
                @{
                    var song = context as Song;
                    <a href="/songdetails/@song.Album.Name/@song.Name">@song.Name</a>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(Song.Album.Name)" Title="Album Name">
            <Template>
                @{
                    var album = context as Song;
                    <span>@album.Album.Name</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(Artist.Name)" Title="Artist Name">
            <Template>
                @{
                    var artist = context as Song;
                    <a href="/artistdetails/@artist.Artist.ArtistId">@artist.Artist.Name</a>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

<table class="welcome-text">
    <thead>
        <tr>
            <th>Name</th>
            <th>Album</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in songlist)
        {
            <tr>
                <td><a href="/songdetails/@song.Name/@song.Album.Name/@song.Artist.Name/@song.LinkYT/@song.LinkSptfy/@song.Album.ImageUrl">
                    @song.Name</a></td>
                <td>@song.Album.Name</td>
                <td><a href="/artistdetails/@song.Artist.Name">@song.Artist.Name</a></td>
            </tr>
        }
    </tbody>
</table>
