@page "/songlist"
@using DBConnection1.Data
@using Telerik.Blazor.Components
@using DBConnection1.Models
@using DBConnection1.Controls
@inherits SonglistBase

<TelerikGrid Resizable="true"
             Data="@songlist"
             Reorderable="true"
             Sortable="true"
             SortMode="@SortMode.Multiple"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
    <GridColumns>
        <GridColumn Field="@nameof(Song.Name)" Title="Song Name" Editable="true">
            <Template>
                @{
                    var song = context as Song;
                    <a href="/songdetails/@song.Album.Name/@song.Name">@song.Name</a>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Album Name">
            <Template>
                @{
                    var album = context as Song;
                    <span>@album.Album.Name</span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field="" Title="Artist Name">
            <Template>
                @{
                    var artist = context as Song;
                    <a href="/artistdetails/@artist.Artist.Name">@artist.Artist.Name</a>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

<SongListDataInput></SongListDataInput>


