@inherits ArtistDataInputBase

<TelerikWindow Class="PopUpWindow"
               Width="1000x"
               Height="500px"
               Top="20%"
               Left="45%"
               Visible="@Visible">
    <WindowTitle>
        <strong>@ArtistName</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction @onclick="HideWindow" Name="Close"></WindowAction>
    </WindowActions>
    <WindowContent>
        <div class="sign-form">
            <EditForm Model="@Artist">
                <DataAnnotationsValidator />
                <ImageFileInput OnClick="ClickHandler"></ImageFileInput>
                <ValidationMessage For="@(()=> Artist.ArtistImageUrl)"></ValidationMessage>
                <ValidationInput placeholder="YYYY (Founded)" ValueChangedCallback="ReleaseDateValueChanged" Value="@Artist.Founded"></ValidationInput>
                <ValidationMessage For="@(()=> Artist.Founded)"></ValidationMessage>
                <button class="sign-button" type="submit" @onclick="AddArtist">Confirm</button>
            </EditForm>
        </div>
    </WindowContent>
</TelerikWindow>

<div style="width:200px">
    <button @onclick="(() => Visible = true)" class="sign-button"><span class="oi oi-plus" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Add Artist Details</button>
</div>