@inherits SongListDataInputBase

<TelerikWindow Class="PopUpWindow"
               Width="1000x"
               Height="500px"
               Top="20%"
               Left="45%"
               Visible="@Visible">
    <WindowTitle>
        <strong>New Song</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Maximize"></WindowAction>
        <WindowAction Name="Close" OnClick="HideWindow"></WindowAction>
    </WindowActions>
    <WindowContent>
        <div class="sign-form">
            <ValidationInput placeholder="Song Name" ValueChangedCallback="SongNameValueChanged" Value="@SongName"></ValidationInput>
            <ValidationInput placeholder="Album Name" ValueChangedCallback="AlbumNameValueChanged" Value="@AlbumName"></ValidationInput>
            <ImageFileInput></ImageFileInput>
            <ValidationInput placeholder="YYYY.MM.DD (Release Date)" ValueChangedCallback="ReleaseDateValueChanged" Value="@ReleaseDate"></ValidationInput>
            <ValidationInput placeholder="Youtube Link" ValueChangedCallback="LinkYTValueChanged" Value="@LinkYT"></ValidationInput>
            <ValidationInput placeholder="Spotify Link" ValueChangedCallback="LinkSPValueChanged" Value="@LinkSP"></ValidationInput>
            <ValidationInput placeholder="Artist Name" ValueChangedCallback="ArtistNameValueChanged" Value="@ArtistName"></ValidationInput>
            <TelerikCheckBox ValueChanged="@((bool CheckBoxValue) => CheckBoxChangeHandler(CheckBoxValue))">Add Artist Details</TelerikCheckBox>
            @if (AddArtistDetails)
            {
                <ArtistDataInput ArtistName="@ArtistName"></ArtistDataInput>
                AddArtistDetails = false;
            }
            <button class="sign-button" type="submit" @onclick="AddSong">Confirm</button>
        </div>
    </WindowContent>
</TelerikWindow>

<div style="width:200px">
    <button @onclick="(() => Visible = true)" class="sign-button">Add New Song</button>
</div>
